
@{
    ViewData["Title"] = "Dashboard";
}

    <div class="row">
        <div class="col-md-12">
            <h2><a asp-action="Index" asp-controller="Budgets" >Budget Planner</a></h2>
        </div>

        <div class="col-md-12">
            <h2>Debt Calculator</h2>
        </div>

        <div class="dropdown col-md-12">
            <button class="investmentButton dropdown-toggle" type="button" data-toggle="dropdown">Investment</button>
            <ul class="dropdown-menu investmentDropDown">
                <li> <ul class="investmentOptions">
                        <li class="investmentOptions">Types of investment</li>
                        <li class="investmentOptions"><a href="https://www.allangray.co.za/what-we-offer/investing-with-us/">Investing with Allan Gray</li>
                        <li class="investmentOptions"><a href="https://www.allangray.co.za/investment-value-calculator/?utm_source=google&utm_medium=cpc&utm_campaign=compound_interest_calculator&utm_content=investment_calculator_ex&gclid=Cj0KCQjw84XtBRDWARIsAAU1aM3O9aL2d-tgjbZ9p9poHqbGBHWuVznU5C6upDT1C_jyJg0w_yhqWOMaAmoCEALw_wcB&gclsrc=aw.ds#welcome">Allan Gray Investment Calculator</a></li>
                    </ul>

                </li>
             </ul>
        </div>

    </div>
