
@{
    ViewData["Title"] = "Dashboard";
}

    <div class="row">
        <div class="col-md-12">
            <h2>Budget Planner</h2>
        </div>

        <div class="dropdown col-md-12">
            <button class="investmentButton dropdown-toggle" type="button" data-toggle="dropdown">Debt Calculator</button>
            <ul class="dropdown-menu investmentDropDown">
            </ul>
        </div>

        <div class="dropdown col-md-12">
            <button class="investmentButton dropdown-toggle" type="button" data-toggle="dropdown">Investment</button>
            <ul class="dropdown-menu investmentDropDown">
                <li class="investmentOptions"><a href="">Types of investment</a> </li></br>
                <li class="investmentOptions"><a href="https://www.allangray.co.za/what-we-offer/investing-with-us/">Investing with Allan Gray</a></li></br>
                <li class="investmentOptions"><a href="https://www.allangray.co.za/investment-value-calculator/?utm_source=google&utm_medium=cpc&utm_campaign=compound_interest_calculator&utm_content=investment_calculator_ex&gclid=Cj0KCQjw84XtBRDWARIsAAU1aM3O9aL2d-tgjbZ9p9poHqbGBHWuVznU5C6upDT1C_jyJg0w_yhqWOMaAmoCEALw_wcB&gclsrc=aw.ds#welcome">Allan Gray Investment Calculator</a></li></br>
            </ul>
        </div>

    </div>
