/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 50px;
    padding-bottom: 20px;
    background: #969696;
}
footer {
    background: #dee2e6;
    height: 50px;
    opacity: 0.6;
}
#piechart {

    height: 400px;
}
.pieRow {
    margin-top: 30px;
    margin-bottom: 30px;
}
.financialStyle {
    color: #515658;
    padding: 0 10px;
    line-height: 1.2;
    font-size: 37px;
    margin-top: 36px;
    margin-bottom: 20px;
}
.pieButton {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 268px !important;
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto Slab;
}
.infoStyle {
    text-decoration-line: underline;
    margin-bottom: 40px;
}
label {
    display: inline-block;
    width: 100px;
}
.contactStyle {
    margin-top: 30px;
}
.backStyle{
    font-size:20px;
}
.menuSelectStyle{
    text-align:center;
}
.landingImage{
    width:100%;
    margin-bottom:50px;
}
.selectButtonStyle {
    margin-right: 30px;
    width: 204px;
    height: 51px;
    border: none;
    margin-bottom: 97px;
    background: #e8e8e8;
}
.detailsStyle {
    font-size: 20px;
    height: 220px;
    list-style: none;
}
.investmentDropDown {
    position: sticky;
    padding: 20px;
    border: none;
    margin-top: -12px;
    width: 100%;
    border-radius: 0;
    background: gainsboro;
}
.investmentOptions {
    list-style: none;
}
.individualStyle {
    list-style: none;
    margin: 0 !important;
    padding-left: 10px;
}
.businessStyle {
    list-style: none;
    margin: 0 !important;
    padding-left: 10px;
}
.investmentOptions {
    color: #778286;
    padding: 0 10px;
    line-height: 1.2;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 14px;
}
.investmentButton {
    text-align: left;
    padding: 14px;
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 14px;
    border: none;
    width: 100%;
}
.alanStyle {
    font-family: none;
    font-size: 60px;
    color: #505050;
}
.educationStyle {
    font-family: none;
    font-size: 24px;
}
.topRowStyle {
    padding-top: 30px;
    padding-right: 44px;
    padding-bottom: 30px;
    padding-left: 81px;
    margin-left: -7% !important;
    margin-right: -7% !important;
    background: #b5b5b5;
}
.youStyle {
    font-family: none;
    font-size:60px;
    color: #c5001f;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: #caccce;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 0px;
}
.footerStyle {
    margin-top:16px;
}
.marginStyle {
    margin-bottom: 60px;
}
.loginStyle {
    color: #4a4a4a;
    font-family: "Roboto slab";
    font-size: 40px;
    font-weight: 400;
}
.signUpStyle {
    color: #4a4a4a;
    font-family: "Roboto slab";
    font-size: 40px;
    font-weight: 400;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.AllanHeadding {
    width: 80%;
}
.containerStyle {
    margin-top: 12px;
    margin-bottom: 12px;
}
.navbarStyle {
    background: #e2e2e2;
    height: 74px;
}
.rowStyle {
    margin-top: 40px;
}
.FontStyle {
    color: black;
    font-family: "Roboto slab";
    font-size: 14px;
    font-weight: 400;
}
.NumberStyle {
    color: #c5001f;
    font-family: "Roboto slab";
    font-size: 18px;
    font-weight: 400;
}
.MapStyle {
    color: #c5001f;
    margin: 10px;
    font-size: 20px;
    font-family: "Roboto slab";
    font-weight: 400;
}
.navFontStyle {
    color: #778286;
    padding: 0 10px;
    line-height: 1.2;
    font-size: 16px;
    margin-top: 4px;
}
.contact-form {
    margin-top: 7px;
    width: 350px;
}
.submitButton {
    background-color: #ed0025;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto Slab;
}
.aboutText {
    color: black;
    font-family: "Roboto slab";
    font-size: 18px;
    font-weight: 400;
}
.contactFormStyle{
    margin-bottom:30px;
}
.officeStyle {
    font-weight: 600;
    font-size: 24px;
    color: #3d0f16;
}
@media only screen and (max-width: 1440px) {
    .containerStyle {
        width: 90%;
    }
}
/* Hide/rearrange for smaller screens */
