@{
    ViewData["Title"] = "Contact";
}
    <div class="row ">
        <div class="col-md-12 marginStyle contactStyle">
            <h2>Contact Us</h2>

            <div class="col-md-12 ">
                <div class="NumberStyle">Phone: <span class="NumberStyle">0860 000 654</span></div>
                <div class="NumberStyle">Fax: <span class="NumberStyle">0860 000 654</span></div>
                <div class="NumberStyle">Calls from outside SA: <span class="NumberStyle">0860 000 654</span></div>
                <div class="NumberStyle">Email: info@allangray.co.za<span class="NumberStyle" </span></div>

            </div>

        </div>

        <div class="col-md-6 officeStyle marginStyle">
            <h3>Capetown Office</h3>
            <a href="https://www.allangray.co.za/globalassets/contact-us/ag-map---silo-cape-town.pdf" class="MapStyle">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span class="link">Download PDF map</span>
            </a>
            </br>
            <a href="https://www.google.co.za/maps/place/Allan+Gray/33.9073476,18.4213268,17z/data=!4m5!1m2!2m1!1sNo.1+Silo+Silo+Square+V%26A+Waterfront+Cape+Town+8001!3m1!1s0x0000000000000000:0x9c8f29cf7c480378" class="MapStyle">
                <i class="fa fa-map-o" aria-hidden="true"></i>
                <span class="link">Open in maps</span>
            </a>

        </div>

        <div class="col-md-6 officeStyle marginStyle">
            <h3>Johannesburg Office</h3>
            <a href="https://www.allangray.co.za/globalassets/contact-us/ag-map---johannesburg.pdf" class="MapStyle">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span class="link">Download PDF map</span>
            </a>
            </br>
            <a href="https://www.google.co.za/maps/place/Allan+Gray/26.1424628,28.0428628,17z/data=!3m1!4b1!4m2!3m1!1s0x1e950ced26271f05:0xaeed6718379a98b5" class="MapStyle">
                <i class="fa fa-map-o" aria-hidden="true"></i>
                <span class="link">Open in maps</span>
            </a>
        </div>


        <div class="col-md-10 FontStyle marginStyle">
            <h2>Let us contact you</h2>


            <form class="contactFormStyle">
                <div class="contact-form">
                    <input type="title" class="form-control" placeholder="Title">
                </div>
                <div class="contact-form">
                    <input type="name" class="form-control" placeholder="Name">
                </div>
                <div class="contact-form">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="contact-form">
                    <input type="phone" class="form-control" placeholder="Phone">
                </div>
                <div class="contact-form">
                    <input type="Message" class="form-control form-message" placeholder="Message"><br>
                    <button type="submit" class="btn btn-primary form-submit-button submitButton">Submit</button>
                </div>
            </form>

        </div>
        </div>