@{
    ViewData["Title"] = "Education";
}

<h2 class="financialStyle">Financial Education</h2>

<div class="row">
    <div class="col-md-6">
        <h2 class="infoStyle">Individual</h2>
        <ul class="individualStyle">
            <li>Income tax is the normal tax which is paid on your taxable income.</li></br>
            <li>Tax laws : For 2020 based on SARS</li></br>
            <table class="tg">
                <tr>
                    <th class="tg-0pky">Taxable income (R)</th>
                    <th class="tg-0pky">Rates of tax (R)</th>
                </tr>
                <tr>
                    <td class="tg-0pky">1 – 195 850</td>
                    <td class="tg-0pky">18% of taxable income</td>
                </tr>
                <tr>
                    <td class="tg-0pky">195 851 – 305 850 </td>
                    <td class="tg-0pky">35 253 + 26% of taxable income above 195 850</td>
                </tr>
                <tr>
                    <td class="tg-0pky">305 851 – 423 300 </td>
                    <td class="tg-0pky">63 853 + 31% of taxable income above 305 850</td>
                </tr>
                <tr>
                    <td class="tg-0pky">423 301 – 555 600 </td>
                    <td class="tg-0pky">100 263 + 36% of taxable income above 423 300</td>
                </tr>
                <tr>
                    <td class="tg-0pky">555 601 – 708 310 </td>
                    <td class="tg-0pky">147 891 + 39% of taxable income above 555 600</td>
                </tr>
                <tr>
                    <td class="tg-0pky">708 311 – 1 500 000 </td>
                    <td class="tg-0pky">207 448 + 41% of taxable income above 708 310</td>
                </tr>
                <tr>
                    <td class="tg-0pky">1 500 001 and above </td>
                    <td class="tg-0pky">532 041 + 45% of taxable income above 1 500 000</td>
                </tr>
            </table></br>
            <li>Savings: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
            <li>Budgeting: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
            <li>Investing: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
            <li>Loans: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
        </ul>

    </div>
    <div class="col-md-6">
        <h2 class="infoStyle">Small Business</h2>
        <ul class="businessStyle">
            <li>Small business pay turnover tax, this is a simplified tax system for small businesses with a qualifying turnover of not more than R1 million per annum.</li>
            <br />
            <li>Tax laws : For 2020 based on SARS</li></br>
            <table class="tg">
                <tr>
                    <th class="tg-0pky">Taxable income (R)</th>
                    <th class="tg-0pky">Rates of tax (R)</th>
                </tr>
                <tr>
                    <td class="tg-0pky">0 – 79 000 </td>
                    <td class="tg-0pky">18% of taxable income</td>
                </tr>
                <tr>
                    <td class="tg-0pky">79 001 – 365 000 </td>
                    <td class="tg-0pky">35 253 + 26% of taxable income above 195 850</td>
                </tr>
                <tr>
                    <td class="tg-0pky">365 001 – 550 000 </td>
                    <td class="tg-0pky">63 853 + 31% of taxable income above 305 850</td>
                </tr>
                <tr>
                    <td class="tg-0pky">550 001 and above </td>
                    <td class="tg-0pky">100 263 + 36% of taxable income above 423 300</td>
                </tr>
            </table></br>

            <li>Savings: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
            <li>Budgeting: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
            <li>Investing: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>
            <li>Loans: </li></br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</br></br>


        </ul>
    </div>


</div>

