

@{
    ViewData["Title"] = "Home Page";
}

<div class="row rowStyle topRowStyle">
    <span class="alanStyle">Alan </span>
    <span class="youStyle">U </span>
    <span class="educationStyle">Business education for the individual</span>
</div>

<div class="row rowStyle">
    <div class="col-md-12 FontStyle marginStyle">
        <h2>About us</h2>

        <div class="aboutText">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
    </div>

    <div class="col-md-12 menuSelectStyle">
        <button class="selectButtonStyle"><a class="" asp-controller="Home" asp-action="Contact">Contact Us</a></button>
        <button class="selectButtonStyle"><a class="" asp-controller="Home" asp-action="Education">Financial Education</a></button>
        <button class="selectButtonStyle"><a class="" asp-controller="Users" asp-action="Dashboard">Dash Board</a></button>
    </div>

    <div class="col-md-offset-1 col-md-10">
        <img class="landingImage" src="http://www.impactiq.org/wp-content/uploads/2018/04/1.png" />
    </div>
</div>
